<div>
  <% items.each do |i| %>
  <div>
    <div><%= image_tag i.get_image(200, 300) %></div>
    <div><%= "￥" + i.tax_included_price.to_s(:delimited) %></div>
    <div><%= i.name %></div>
  </div>
  <% end %>
</div>
