<div>
  <% items.each do |i| %>
  <div>
    <div>
      <%= link_to item_path(i) do %>
        <%= image_tag i.get_image(300, 200) %>
      <% end %>
    </div>
    <div><%= "￥" + i.tax_included_price.to_s(:delimited) %></div>
    <div><%= i.name %></div>
  </div>
  <% end %>
</div>
