<% items.each do |i| %>
<div class="col-3">
  <div class="text-center">
    <%= link_to item_path(i) do %>
      <%= image_tag i.get_image(210, 140) %>
    <% end %>
  </div>
  <div class="my-3"><b><%= i.name %></b></div>
  <div><b><%= "￥" + i.tax_included_price.to_s(:delimited) %></b></div>
</div>
<% end %>
